html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff7f0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.container {
  flex: 1 0 auto;
  padding-bottom: 20px;
}

footer {
  background-color: white;
  color: #333; 
  text-align: left;
  padding: 1rem 1rem; 
  border-top: 2px solid #f3c6e5;
  flex-shrink: 0; 
}

footer .mb-2 {
  color:#CE44E4;
}


.navbar {
    background-color: white;
}

.navbar .navbar-brand {
    color: #CE44E4 !important;
    font-weight: bold;
}
.navbar .nav-link {
    color: black !important;
}

.btn {
    background-color: #973499;
    border-color: #fff7f0;
    color: white;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
